<!DOCTYPE html>
  <html>
    <head>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    </head>

    <body>

</div>
      <form action="/logout" method="post">
       <h3>Is logged in</h3>
       <input type="submit" value="Log Out">
     </form>



    </body>
  </html>
