<!DOCTYPE html>
  <html>
    <head>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <script type="text/javascript" src="js/login.js"></script>
    </head>

    <body>

      <form action="/login" method="post">
       User <br>
       <input type="text" name="username"><br>
       Password<br>
       <input type="text" name="password"><br><br>
       <input type="submit" value="Login">
     </form>



    </body>
  </html>
